<div class="fixed inset-0 grid place-content-center overflow-none">
  <div class="p-4 text-base bg-white rounded-md shadow-lg w-80">
    <h1 class="text-center">Iniciar sesión</h1>
    <form class="flex flex-col gap-1" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="relative z-0">
        <input type="email" id="email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
          placeholder=" " formControlName="email" />
        <label for="email"
          class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Correo</label>
        <app-input-error [control]="form.controls.email"></app-input-error>
      </div>
      <!-- <div class="relative z-0">
        <label for="floating_standard" class=" ">Floating standard</label>
    </div> -->
      <div class="relative z-0">
        <input [type]="hidePassword ? 'password' : 'text'" id="password"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer"
          placeholder=" " formControlName="password" />
        <label for="password"
          class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contraseña</label>
      </div>
      <app-input-error [control]="form.controls.password"></app-input-error>

      <div class="flex justify-end text-xs">
        <!-- <label class="flex items-center gap-2">
          <input type="checkbox" />
          <span>Recordarme</span>
        </label> -->
        <button class="font-medium text-secondary">¿olvidó su contraseña?</button>
      </div>
      <button class="btn">Iniciar sesión</button>
    </form>
  </div>
</div>