<div class="grid grid-rows-[112px,1fr,45px] min-h-screen">
  <header class="z-10">
    <ng-container *ngFor="let config of uiService.toolbarConfig">
      <ng-container *ngIf="config.type === 'title'">
        <div class="fixed w-full py-8 text-center bg-white shadow-lg">
          <h1 class="container mx-auto text-[#001F3F]">{{ config.text }}</h1>
        </div>
      </ng-container>
    </ng-container>
  </header>
  <main class="container h-full mx-auto">
    <ng-content></ng-content>
  </main>
  <nav class="w-full max-w-lg mx-auto">
    <app-navigation></app-navigation>
  </nav>
</div>
